<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../resources/css/common/all.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="wrap">
	<header>
		<div class="header">
			<ul class="util-wrap">
				<li>· 로그인</li>
				<li>· 회원가입</li>
			</ul>
			<div class=nav-wrap>
				<h1><img src="../../resources/img/common/logo_pc.png"></h1>
				<nav>
					<ul>
						<li>공지사항</li>
						<li>매칭하기</li>
						<li>나의 팀관리</li>
						<li>마이페이지</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section>
		<div class="section">
			<div class="myteam-wrap">
				<h2><i class="far fa-futbol"></i> 나의 팀</h2>
				<div class="myteam-con">
					<p>알파카 회원님은 아직 팀에 소속되어 있지 않습니다.<br />
					아래 메뉴에서 <strong>직접 팀을 생성하시거나, 기존의 팀에 참가</strong>하실 수 있습니다.</p>
					<div class="btn-team-area">
						<div class="btn-team create">
							<i class="far fa-plus-square"></i>
							나만의 팀을 만듭니다.
							<button>팀 생성</button>
						</div>
						<div class="btn-team join">
							<i class="fas fa-sign-in-alt"></i>
							기존 팀에 참가합니다.
							<button>팀 참가</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		Copyright 2021 by PCLASS 4TEAM. All Rights Reserved.
	</footer>
</div>

</body>
</html>