<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../resources/css/common/all.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam-form.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/matching/matching-team.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="wrap">
	<header>
		<div class="header">
			<ul class="util-wrap"> 
				<li>· 로그인</li>
				<li>· 회원가입</li>
			</ul>
			<div class=nav-wrap>
				<h1><img src="../../resources/img/common/logo_pc.png"></h1>
				<nav>
					<ul>
						<li>공지사항</li>
						<li>매칭하기</li>
						<li>나의 팀관리</li>
						<li>마이페이지</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section>
		<div class="section">
			<div class="myteam-wrap">
				<h2><i class="far fa-futbol"></i> 나의 팀</h2>
				<div class="myteam-con">
					<!-- 리더 화면 -->
					<ul class="team-tab-wrap">
						<li><a href="/myteam/team-info">팀 정보</a></li>
						<li><a href="/myteam/team-member">팀원 관리</a></li>
						<li><a href="/myteam/team-score">팀 전적</a></li>
						<li><a href="/myteam/team-board">작성글 관리</a></li>
						<li><a class="selected" href="/myteam/delete-team">팀 해체</a></li>
					</ul>
					<div class="team-img"></div>
					<p class="leave-msg">팀을 해체하시면 <strong>팀 정보, 팀 전적이 소멸되며 팀원도 전원 탈퇴됩니다.</strong><br>해체 후 되돌릴 수 없으니 신중하게 결정해주세요.</p>
					<a class="btn-leave-team">팀 해체하기</a>
				</div>
			</div>
		</div>
	</section>
	<footer>
		Copyright 2021 by PCLASS 4TEAM. All Rights Reserved.
	</footer>
</div>

</body>
</html>