<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../resources/css/common/all.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam-form.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="wrap">
	<header>
		<div class="header">
			<ul class="util-wrap">
				<li>· 로그인</li>
				<li>· 회원가입</li>
			</ul>
			<div class=nav-wrap>
				<h1><img src="../../resources/img/common/logo_pc.png"></h1>
				<nav>
					<ul>
						<li>공지사항</li>
						<li>매칭하기</li>
						<li>나의 팀관리</li>
						<li>마이페이지</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section>
		<div class="section">
			<div class="myteam-wrap">
				<h2><i class="far fa-futbol"></i> 나의 팀</h2>
				<div class="myteam-con">
					<!-- 리더 화면 -->
					<ul class="team-tab-wrap">
						<li><a href="/myteam/team-info">팀 정보</a></li>
						<li><a href="/myteam/team-member">팀원 관리</a></li>
						<li><a class="selected" href="/myteam/team-score">팀 전적</a></li>
						<li><a href="/myteam/team-board">글 관리</a></li>
						<li><a href="/myteam/delete-team">팀 해체</a></li>
					</ul>
					<div class="rating_area">
						<p>다인다색 팀의 평균 평점</p>
						<div class="our_rating star">
							<i class="fas fa-star full-star"></i><i class="fas fa-star full-star"></i><i class="fas fa-star full-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
						</div>
					</div>
					<table class="team-member-form">
						<tr>
							<th>경기일자</th>
							<th>상대팀</th>
							<th>경기 결과</th>
							<th>경기 만족도</th>
							<th></th>
						</tr>
						<tr>
							<td>2021-09-16</td>
							<td>지구방위대</td>
							<td>
								<div class="selectbox">
									<select>
										<option value="" disabled selected>= 결과 =</option>
										<option value="">승</option>
										<option value="">패</option>
									</select>
								</div>
							</td>
							<td class="star"><i class="fas fa-star full-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
							<td><button class="btn-change-grade">저장</button></td>
						</tr>
						<tr>
							<td>2021-09-10</td>
							<td>K축구</td>
							<td>
								승
							</td>
							<td class="star"><i class="fas fa-star full-star"></i><i class="fas fa-star full-star"></i><i class="fas fa-star full-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
						</tr>
					</table>
					
					<form action="/myteam/modify-score" method="post">
						
					</form>
					
					<!-- 멤버 화면 -->
					<ul class="team-tab-wrap">
						<li><a href="/myteam/team-info">팀 정보</a></li>
						<li><a href="/myteam/team-member">팀원 보기</a></li>
						<li><a class="selected" href="/myteam/team-score">팀 전적</a></li>
						<li><a href="/myteam/team-board">작성 게시글</a></li>
						<li><a href="/myteam/leave-team">팀 탈퇴</a></li>
					</ul>
					<div class="rating_area">
						<p>다인다색 팀의 평균 평점</p>
						<div class="our_rating star">
							<i class="fas fa-star full-star"></i><i class="fas fa-star full-star"></i><i class="fas fa-star full-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
						</div>
					</div>
					<table class="team-member-form">
						<tr>
							<th>경기일자</th>
							<th>상대팀</th>
							<th>경기 결과</th>
							<th>경기 만족도</th>
							<th></th>
						</tr>
						<tr>
							<td>2021-09-10</td>
							<td>K축구</td>
							<td>
								승
							</td>
							<td class="star"><i class="fas fa-star full-star"></i><i class="fas fa-star full-star"></i><i class="fas fa-star full-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>
	<footer>
		Copyright 2021 by PCLASS 4TEAM. All Rights Reserved.
	</footer>
</div>

</body>
</html>