<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../resources/css/common/all.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam-form.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/matching/matching-team.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="wrap">
	<header>
		<div class="header">
			<ul class="util-wrap"> 
				<li>· 로그인</li>
				<li>· 회원가입</li>
			</ul>
			<div class=nav-wrap>
				<h1><img src="../../resources/img/common/logo_pc.png"></h1>
				<nav>
					<ul>
						<li>공지사항</li>
						<li>매칭하기</li>
						<li>나의 팀관리</li>
						<li>마이페이지</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section>
		<div class="section">
			<div class="myteam-wrap">
				<h2><i class="far fa-futbol"></i> 나의 팀</h2>
				<div class="myteam-con">
					<!-- 리더 화면 -->
					<ul class="team-tab-wrap">
						<li><a href="/myteam/team-info">팀 정보</a></li>
						<li><a href="/myteam/team-member">팀원 관리</a></li>
						<li><a href="/myteam/team-score">팀 전적</a></li>
						<li><a class="selected" href="/myteam/team-board">작성글 관리</a></li>
						<li><a href="/myteam/delete-team">팀 해체</a></li>
					</ul>
					<div class="match-box use-myteam">
						<div class="tit-area">
							<div class="tit-info">
								<div class="state recruiting">모집중</div>
								<div class="tit">
									<strong>수원 화성 풋살파크 1구장 매치 모집</strong>
									별점 ★★★★★&nbsp;&nbsp;&nbsp;전적 10전 6승 4패
								</div>
							</div>
							<div class="profile_n_appli">
								<div class="profile">
									<div class="profile-img"></div>
									<div class="profile-name">다인다색<span><i class="fas fa-search"></i>정보보기</span></div>
								</div>
								<div class="btn-appli">수정하기</div>
							</div>
						</div>
						<div class="match-detail">
							<ul>
								<li><span class="tit">지역</span>[경기] 수원 화성 풀살파크 1구장 <a class="view-map"><i class="fas fa-map-marker-alt"></i> 지도보기</a></li>
								<li><span class="tit">매치날짜</span>2021-09-11 13:00</li>
							</ul>
							<ul>
								<li><span class="tit">매치방식</span>6:6</li>
								<li><span class="tit">실력</span>상</li>
								<li><span class="tit">구장비</span>40,000원</li>
							</ul>
							<div class="txt">내용이 들어갑니다.</div>
						</div>
					</div>
					<div class="match-box use-myteam">
						<div class="tit-area">
							<div class="tit-info">
								<div class="state end">모집완료</div>
								<div class="tit">
									<strong>수원 화성 풋살파크 1구장 매치 모집</strong>
									별점 ★★★★★&nbsp;&nbsp;&nbsp;전적 10전 6승 4패
								</div>
							</div>
							<div class="profile_n_appli">
								<div class="profile">
									<div class="profile-img"></div>
									<div class="profile-name">다인다색<span><i class="fas fa-search"></i>정보보기</span></div>
								</div>
								<div class="btn-appli">매칭취소</div>
							</div>
						</div>
						<div class="match-detail">
							<ul>
								<li><span class="tit">지역</span>[경기] 수원 화성 풀살파크 1구장 <a class="view-map"><i class="fas fa-map-marker-alt"></i> 지도보기</a></li>
								<li><span class="tit">매치날짜</span>2021-09-11 13:00</li>
							</ul>
							<ul>
								<li><span class="tit">매치방식</span>6:6</li>
								<li><span class="tit">실력</span>상</li>
								<li><span class="tit">구장비</span>40,000원</li>
							</ul>
							<div class="txt">내용이 들어갑니다.</div>
						</div>
					</div>
					
					<form action="/myteam/modify-board" method="post">
						
					</form>
					
					<!-- 멤버 화면 -->
					<ul class="team-tab-wrap">
						<li><a href="/myteam/team-info">팀 정보</a></li>
						<li><a href="/myteam/team-member">팀원 보기</a></li>
						<li><a href="/myteam/team-score">팀 전적</a></li>
						<li><a class="selected" href="/myteam/team-board">작성 게시글</a></li>
						<li><a href="/myteam/leave-team">팀 탈퇴</a></li>
					</ul>
					<div class="match-box use-myteam">
						<div class="tit-area">
							<div class="tit-info">
								<div class="state recruiting">모집중</div>
								<div class="tit">
									<strong>수원 화성 풋살파크 1구장 매치 모집</strong>
									별점 ★★★★★&nbsp;&nbsp;&nbsp;전적 10전 6승 4패
								</div>
							</div>
							<div class="profile_n_appli">
								<div class="profile">
									<div class="profile-img"></div>
									<div class="profile-name">다인다색<span><i class="fas fa-search"></i>정보보기</span></div>
								</div>
								
							</div>
						</div>
						<div class="match-detail">
							<ul>
								<li><span class="tit">지역</span>[경기] 수원 화성 풀살파크 1구장 <a class="view-map"><i class="fas fa-map-marker-alt"></i> 지도보기</a></li>
								<li><span class="tit">매치날짜</span>2021-09-11 13:00</li>
							</ul>
							<ul>
								<li><span class="tit">매치방식</span>6:6</li>
								<li><span class="tit">실력</span>상</li>
								<li><span class="tit">구장비</span>40,000원</li>
							</ul>
							<div class="txt">내용이 들어갑니다.</div>
						</div>
					</div>
					<div class="match-box use-myteam">
					<div class="tit-area">
						<div class="tit-info">
							<div class="state end">모집완료</div>
							<div class="tit">
								<strong>수원 화성 풋살파크 1구장 매치 모집</strong>
								별점 ★★★★★&nbsp;&nbsp;&nbsp;전적 10전 6승 4패
							</div>
						</div>
						<div class="profile_n_appli">
							<div class="profile">
								<div class="profile-name">0 명남음</div>
							</div>
							
						</div>
					</div>
					<div class="match-detail">
						<ul>
							<li><span class="tit">지역</span>[경기] 수원 화성 풀살파크 1구장 <a class="view-map"><i class="fas fa-map-marker-alt"></i> 지도보기</a></li>
							<li><span class="tit">매치날짜</span>2021-09-11 13:00</li>
						</ul>
						<ul>
							<li><span class="tit">매치방식</span>6:6</li>
							<li><span class="tit">실력</span>상</li>
							<li><span class="tit">용병비</span>10,000원</li>
						</ul>
						<div class="txt">내용이 들어갑니다.</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		Copyright 2021 by PCLASS 4TEAM. All Rights Reserved.
	</footer>
</div>

</body>
</html>