<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../resources/css/common/all.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/mypage/mypage.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/mypage/mypage-form.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="wrap">
	<header>
		<div class="header">
			<ul class="util-wrap">
				<li>· 로그인</li>
				<li>· 회원가입</li>
			</ul>
			<div class=nav-wrap>
				<h1><img src="../../resources/img/common/logo_pc.png"></h1>
				<nav>
					<ul>
						<li>공지사항</li>
						<li>매칭하기</li>
						<li>나의 팀관리</li>
						<li>마이페이지</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section>
		<div class="mypage-wrap">
				<h2><i class="fas fa-user-cog"></i> 마이페이지</h2>
				<div class="mypage-con">
					<ul class="mypage-tab-wrap">
						<li><a href="/myteam/team-info">알림내역</a></li>
						<li><a href="/myteam/team-member">용병신청내역</a></li>
						<li><a href="/myteam/team-score">문의내역</a></li>
						<li><a class="selected" href="/myteam/team-board">회원정보수정</a></li>
					</ul>
					
					<form action="/mypafe/modify" method="post">
						<table class="mypage-form">
							<tr>
								<th>아이디</th>
								<td>
									honeyalpaca
								</td>
							</tr>
							<tr>
								<th>현재비밀번호</th>
								<td>
									<input type="password" name="password" id="password" required />
									<span class="msg imp"><i class="fas fa-exclamation-circle"></i> 비밀번호가 일치하지 않습니다.</span>
								</td>
							</tr>
							<tr>
								<th>새비밀번호</th>
								<td>
									<input type="password" name="password" id="password" />
									<span class="msg">띄어쓰기 없는 6~15자 영문 대/소문자 포함</span>
								</td>
							</tr>
							<tr>
								<th>비밀번호확인</th>
								<td>
									<input type="password" name="password" id="password" />
									
								</td>
							</tr>
							<tr>
								<th>이름</th>
								<td>알파카</td>
							</tr>
							<tr>
								<th>닉네임</th>
								<td>
									<input type="text" name="nickName" id="nickName" value="알파카" size="6" required />
									<button type="button" id="btnNickCheck">중복확인</button>
									<span class="msg">2~6자의 한글,영문</span>
								</td>
							</tr>
							<tr>
								<th>연락처</th>
								<td>
									<input id="tell" type="tel" name="tell" value="01012345678" required />
									<span class="msg">숫자만 입력</span>
								</td>
							</tr>
							<tr>
								<th>이메일</th>
								<td>
									alpaca@naver.com
								</td>
							</tr>
							<tr>
								<th>실력</th>
								<td>
									<label><input type="radio" name="grade" id="grade" value="" checked/> 상</label>
									<label><input type="radio" name="grade" id="grade" value="" /> 중</label>
									<label><input type="radio" name="grade" id="grade" value="" /> 하</label>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="btn-join">
										<input type="submit" value="변경하기" />
										<a class="leave_member" href="">회원탈퇴</a>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</section>
	<footer>
		Copyright 2021 by PCLASS 4TEAM. All Rights Reserved.
	</footer>
</div>

</body>
</html>