<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../resources/css/common/all.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/mypage/mypage.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/mypage/mypage-form.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="wrap">
	<header>
		<div class="header">
			<ul class="util-wrap">
				<li>· 로그인</li>
				<li>· 회원가입</li>
			</ul>
			<div class=nav-wrap>
				<h1><img src="../../resources/img/common/logo_pc.png"></h1>
				<nav>
					<ul>
						<li>공지사항</li>
						<li>매칭하기</li>
						<li>나의 팀관리</li>
						<li>마이페이지</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section>
		<div class="mypage-wrap">
				<h2><i class="fas fa-user-cog"></i> 마이페이지</h2>
				<div class="mypage-con">
					<ul class="mypage-tab-wrap">
						<li><a class="selected" href="/myteam/team-info">알림내역</a></li>
						<li><a href="/myteam/team-member">용병신청내역</a></li>
						<li><a href="/myteam/team-score">문의내역</a></li>
						<li><a href="/myteam/team-board">회원정보수정</a></li>
					</ul>
					<table class="mypage-notice-form">
						<tr>
							<th>상태</th>
							<th>구분</th>
							<th style="width:60%">알림내용</th>
							<th>날짜</th>
						</tr>
						<tr>
							<td>읽음</td>
							<td>용병</td>
							<td style="text-align:left;">
								<a href="#">작성하신 용병 게시글에 신청자가 있습니다.</a>
							</td>
							<td>2021-08-25<br>16:30</td>
						</tr>
						<tr>
							<td>읽음</td>
							<td>용병</td>
							<td style="text-align:left;">
								<a href="#">작성하신 용병 게시글에 신청자가 있습니다.</a>
							</td>
							<td>2021-08-25<br>16:30</td>
						</tr>
						<tr>
							<td>읽음</td>
							<td>용병</td>
							<td style="text-align:left;">
								<a href="#">작성하신 용병 게시글에 신청자가 있습니다.</a>
							</td>
							<td>2021-08-25<br>16:30</td>
						</tr>
					</table>
					<ul class="pagenation">
						<li><i class="far fa-arrow-alt-circle-left"></i></li>
						<li class="selected">1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
						<li><i class="far fa-arrow-alt-circle-right"></i></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<footer>
		Copyright 2021 by PCLASS 4TEAM. All Rights Reserved.
	</footer>
</div>

</body>
</html>