@charset "UTF-8";
/* 2021-09-13 SEO.WOOKYUNG */

*{box-sizing:border-box;}
body,div,h1,h2,h3,h4,h5,h6,h7,ul,li,dl,dt,dd,input,button,p,a,table,tr,th,td{margin:0;padding:0;}
ul,li{list-style:none;}
a{cursor:pointer;text-decoration:none;}
input:focus, textarea:focus, select:focus{outline:none;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {color:transparent;}
input:-webkit-autofill,textarea:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}