@charset "UTF-8";
/* 2021-09-13 SEO.WOOKYUNG */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
/* 2021-09-16 SEO.WOOKYUNG */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
	font-family: 'Noto Sans KR', sans-serif;
	color:#333;
}
input::placeholder,
textarea::placeholder
{
	color:#aaa;
}

/* 공통 css*/

header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 30px 20px;
}

.header .util-wrap{
	display:flex;
	justify-content:flex-end;
}
.header .util-wrap > li{
	margin-left:10px;
	font-size:0.9em;
	cursor:pointer;
}

.header .nav-wrap{
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
}

.header h1 > img{
	cursor:pointer;
	width:150px;
}

nav > ul{
	display:flex;
	justify-content: flex-end;
}

nav > ul > li{
	cursor:pointer;
	font-size:1.2em;
	font-weight:bold;
	padding:6px 13px;
	margin-left:10px;
}
nav > ul > li:last-child{
	padding-right:0px;
}
section{
	border-top:1px solid #aaaaaa;
}

section{
	background-color:#eee;
}
.section .main-visual{
	background:url(../../img/main/main.jpg) 50% 60% no-repeat;
	background-size:cover;
	position:relative;
	text-align:center;
	color:#ffffff;
	height:200px;
	line-height:200px;
	background-color:gray;
}

footer{
	color:#aaa;
	font-size:0.8em;
	padding:30px;
	text-align:center;
}


/* popup */

.popup-teaminfo-wrap {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup-close {
	width: 400px;
	display: flex;
	justify-content: end;
	padding-right: 50px;
}

.popup-close i{
	cursor:pointer;
}
.popup-teaminfo {
	text-align: center;
	width: 400px;
	height: 400px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
}

.popup-team-img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin: 10px 0;
	background-color: var(--color-gray);
}

.popup-team-info p:last-child{
	margin-top: 10px;
	font-weight: 500px;
}

.popup-team-info p {
	margin: 5px 0;
}

.popup-team-info .tit {
	border-radius: 8px;
	display:inline-block;
	background-color:#eee;
	padding:3px 10px;
	margin-right:10px;
}

/* pop msg wrap 21.09.20 SEO */
.pop-msg-wrap{
	position:fixed;
	top:0;
	left:0;
	display:none;
	align-items:center;
	justify-content:center;
	width:100vw;
	height:100vh;
	z-index:999;
	background-color:rgba(0,0,0,0.3);
}
.pop-msg{
	box-shadow:0px 5px 15px #888;
	min-width:400px;
	padding:40px;
	text-align:center;
	border-radius:15px;
	background-color:#fff;
	margin-top:-10%;
}
.pop-msg p{
	text-align:center;
	margin-bottom:20px;
	line-height:1.8;
}
.pop-msg p i{
	color:#DC143C;
	font-size:1.8em;
}
.pop-msg button{
	font-size:0.9em;
	display:inline-block;
	width:46%;
	margin:1%;
	padding:15px;
	border:none;
	border-radius:5px;
	background-color:#483D8B;
	color:#fff;
	cursor:pointer;
}
.pop-msg button.cancel-btn{
	background-color:#bbb;
}