<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../resources/css/common/all.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/myteam/myteam-form.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="wrap">
	<header>
		<div class="header">
			<ul class="util-wrap">
				<li>· 로그인</li>
				<li>· 회원가입</li>
			</ul>
			<div class=nav-wrap>
				<h1><img src="../../resources/img/common/logo_pc.png"></h1>
				<nav>
					<ul>
						<li>공지사항</li>
						<li>매칭하기</li>
						<li>나의 팀관리</li>
						<li>마이페이지</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section>
		<div class="section">
			<div class="myteam-wrap">
				<h2><i class="far fa-futbol"></i> 나의 팀</h2>
				<div class="myteam-con">
					<!-- 리더 화면 -->
					<ul class="team-tab-wrap">
						<li><a class="selected" href="/myteam/team-info">팀 정보</a></li>
						<li><a href="/myteam/team-member">팀원 관리</a></li>
						<li><a href="/myteam/team-score">팀 전적</a></li>
						<li><a href="/myteam/team-board">글 관리</a></li>
						<li><a href="/myteam/delete-team">팀 해체</a></li>
					</ul>
					<form action="/myteam/mpdify-team" method="post">
						<table class="team-create-form">
							<tr>
								<th>팀 이름</th>
								<td>
									다인다색
								</td>
							</tr>
							<tr>
								<th>팀 사진</th>
								<td>
									<input type="file" name="teamFile" id="teamFile" />
									<span class="msg">500MB 이하의 jpg, gif, png</span>
									<div class="team-file leader">
										<a class="view-file"><i class="fas fa-eye"></i> team_file_name.jpg</a>
										<a class="del-file"><i class="fas fa-trash-alt"></i> 팀 사진 삭제</a>
									</div>
								</td>
							</tr>
							<tr>
								<th>실력</th>
								<td>
									<label><input type="radio" name="teamGrade" id="teamGrade" value="" checked /> 상</label>
									<label><input type="radio" name="teamGrade" id="teamGrade" value="" /> 중</label>
									<label><input type="radio" name="teamGrade" id="teamGrade" value="" /> 하</label>
								</td>
							</tr>
							<tr>
								<th>활동지역</th>
								<td>
									<label><input type="checkbox" checked> 서울</label>
									<label><input type="checkbox" checked> 경기</label>
									<label><input type="checkbox"> 강원</label>
									<label><input type="checkbox"> 충청</label>
									<label><input type="checkbox"> 전라</label>
									<label><input type="checkbox"> 제주</label>
									<label><input type="checkbox"> 경상</label>
								</td>
							</tr>
							<tr>
								<th>소개글</th>
								<td>
									<textarea placeholder="팀 소개 내용을 입력해주세요.">안녕하세요. 다인다색입니다.</textarea>
									<span id="txtCounter" class="txt-counter">(0 / 최대 200자)</span>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="btn-team-create">
										<input type="submit" value="팀 변경하기" />
									</div>
								</td>
							</tr>
						</table>
					</form>
					<!-- 멤버 화면 -->
					<ul class="team-tab-wrap">
						<li><a class="selected" href="/myteam/team-info">팀 정보</a></li>
						<li><a href="/myteam/team-member">팀원 보기</a></li>
						<li><a href="/myteam/team-score">팀 전적</a></li>
						<li><a href="/myteam/team-board">작성 게시글</a></li>
						<li><a href="/myteam/leave-team">팀 탈퇴</a></li>
					</ul>
					<table class="team-create-form">
							<tr>
								<th>팀 이름</th>
								<td>
									다인다색
								</td>
							</tr>
							<tr>
								<th>팀 사진</th>
								<td>
									<div class="team-file">
										<a class="view-file"><i class="fas fa-eye"></i> team_file_name.jpg</a>
									</div>
								</td>
							</tr>
							<tr>
								<th>실력</th>
								<td>
									상
								</td>
							</tr>
							<tr>
								<th>활동지역</th>
								<td>
									서울, 경기
								</td>
							</tr>
							<tr>
								<th>소개글</th>
								<td>
									안녕하세요. 다인다색입니다.
								</td>
							</tr>
							<tr>
								<td colspan="2">
								</td>
							</tr>
						</table>
				</div>
			</div>
		</div>
	</section>
	<footer>
		Copyright 2021 by PCLASS 4TEAM. All Rights Reserved.
	</footer>
</div>

</body>
</html>